extends ./base.pug

block contnet
    each data in sData
        h4
            p #{data.type}
            a(href=data.link) #{data.title}
            p ---------------------------------------------------